---
title: About
alias: about/index.html
---

.center(dir='rtl', style='text-align: right;').hebrew
  :markdown-it
    שגרירות הביטקוין היא מרכז קהילתי, לימודי והסברתי המוקדש למטבע המבוזר ביטקוין. השגרירות, ממוקמת בעיר תל אביב-יפו, הוקמה בשנת 2013 על ידי פעילי קהילת הביטקוין בישראל במטרה להנגיש את התחום לציבור הרחב, לספק מקום מפגש לביטקוינרים יזמים מפתחים וכל מי שרוצה להשתמש בביטקוין ולקדם את התחום בישראל.

    היסטוריה ורקע
    מתחם השגרירות נפתח רשמית לקהל הרחב בדצמבר 2013 ברחוב אחוזת בית 1 בתל אביב, בסמוך למגדל שלום מאיר ולבורסה לניירות ערך. 
    ההקמה נעשתה במתחם שהיה בעבר המשרד של איל יונה, שהוביל את התהליך וייסד את המקום. לימים השכירות במקום עברה לחברת ביטס-אוף-גולד, שתרמה רבות גם פיננסית וגם תפעולית.

    עם פתיחתה, הפכה השגרירות לאחד המרכזים הפיזיים הראשונים בעולם שהוקדשו כולם להסברה ופעילות סביב מטבע הביטקוין. המקום פעל במתכונת של מרכז ללא מטרות רווח, והתבסס במידה רבה על תרומות ועל עבודת מתנדבים, שהשתתפו בתהליך קבלת ההחלטות, הפקת אירועים, העברת הרצאות ויציקת תוכן ברוח הקוד הפתוח.

    פעילות
    שגרירות הביטקוין משמשת כעוגן המרכזי של הקהילה בישראל ומקיימת מגוון פעילויות:

    הסברה וחינוך: 
    העברת הרצאות, סדנאות וימי עיון חינמיים המיועדים לקהל הרחב – החל מהסברים בסיסיים על "מהו ביטקוין" ועד לסדנאות טכניות כגון פתיחת ארנקים והקמת צומת ביטקוין.

    מפגשי קהילה (Meetups): המקום מארח באופן קבוע מפגשים של יזמים, מתכנתים, כלכלנים, אנתרופולוגים ומשפטנים הדנים בהיבטים הטכנולוגיים, הרגולטוריים והכלכליים של עולם הנכסים הדיגיטליים.
    
    בכל יום ראשון יש מפגש שבועי גדול שנקרא סאטושי סקוור בו מתאספים חברי הקהילה.

    השגרירות ערכה האקתון שנתי נושא פרסים המוקדש כולו לפיתוחים בתחום

    ארגון והפקה של מסיבות לציון תאריכים סמליים כגון
    ימי הולדת לביטקוין בתאריך 3.1 יום יצירת הבלוק הראשון
    חגיגות לציון יום כתיבת הספר הלבן
    יום הפיצה 
    יום העלמות סאטושי
    וכמובן מסיבות חצייה

    כספומט ביטקוין: בשגרירות הותקן כספומט הביטקוין הראשון בישראל, המאפשר לעוברים ושבים לרכוש את המטבע תמורת כסף מזומן (שקלים).

    נקודת מידע וסיוע: פעילי המקום מסייעים לאנשים פרטיים שעושים את צעדיהם הראשונים כיצד לפתוח ארנק ביטקוין בצורה נכונה ומאובטחת ולתפעל אותו, וכיצד להימנע מטעויות והונאות בתחום.

    השגרירות היא גם הבית של איגוד הביטקוין הישראלי 

    השגרירות מילאה תפקיד מפתח בהפיכתה של ישראל לאחד המרכזים הטכנולוגיים המובילים בעולם בתחום. מתוך המפגשים והקשרים שנוצרו בין כותלי השגרירות צמחו עשרות מיזמים, חברות הזנק (Start-ups) וקרנות הון סיכון ישראליות הפועלות בזירה הבינלאומית.
    כמו כן, המרכז שימש ככתובת עבור רשויות המדינה,  גופי תקשורת, אקדמיה, בנקים, וכל מי שביקשו ללמוד את התחום ולהבין את השלכותיו על הכלכלה המסורתית.

    לצער רבים השגרירות גם נתנה בעבר במה להצגת מיזמים שבדיעבד לא צלחו, וגרמו לאנשים אובדן כסף ועוגמת נפש. תחום הביטקוין והקריפטו תמיד היו השקעות עם סיכונים רגולטוריים וטכנולוגיים. עם השנים נעשו מאמצים לוודא שהמרצים לא משתמשים בבמה שניתנה להם כדי להציג מצג שווא כאילו השגרירות, ביטס-אוף-גולד, או קבוצת השגרירים הביעו תמיכה ואמון במיזם שלהם. Don't Trust, Verify.

