---
layout: home
title: שגרירות הביטקוין
---

#content.site-content.clearfix(role='main')
  article#post-7.post-7.page.type-page.status-publish.hentry
    .entry-content



      .split
        .left.hebrew: p.
          ברוכ׊׉ הבא׊׉ לכלכלה החדשה #[br]
          כאן תוכלו לשאול, לשתף ולדבר #[br]
          אודות המטבע הדיגיטלי המבוזר. #[br]
          אנחנו קוד חברתי פתוח, כנסו. #[br]
          #[a(style='font-size: 0.7em; color: #000 !important;', href='donate.html', target='_blank') כאן מכבד׊׉ ביטקוין]
        .right: p.
          Welcome to the new economy #[br]
          Here you can ask, share and talk #[br]
          new decentralized cryptocurrency #[br]
          This is an open source community #[br]
          #[a(style='font-size: 0.7em; color: #000 !important;', href='donate.html', target='_blank') Bitcoin accepted]

      hr.floatclear
      p.center: a(href='about.html')
        img.size-thumbnail.wp-image-35(src='img/header.png', alt='Read about the Bitcoin emBassy', width='170', height='75')
        | #[br]Learn more
